///
/// Team
/// 

.fc_team {
	position: relative;

	.team__filters {
		display: none;
		margin-bottom: var(--fl1-spacing-md);
		padding: var(--fl1-spacing-md);
		background: var(--fl1-white);
		border-radius: var(--fl1-radius-xl);
		box-shadow: 0 6px 20px rgb(0 0 0 / 10%);
		
		form {
			display: flex;
			gap: var(--fl1-spacing-md);

			article {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: var(--fl1-spacing-xs);

				label { 
					display: block;
					font-weight: 600;
					font-size: var(--fl1-font-xs);
					color: var(--fl1-primary);
				}

				input[type="text"],
				select {
					padding: var(--fl1-spacing-sm);
					border-radius: var(--fl1-radius-sm);
					border: 1px solid var(--fl1-lightgrey);
					font-family: var(--fl1-primary-font);
					background: var(--fl1-lightgrey);
					width: 100%;
				}
			}
		}
	}

	.team__wrap {
		display: flex;
		flex-wrap: wrap;

		article {
			width: math.percentage(math.div(1, 4));
			display: flex;
			flex-direction: column;

			.padder {
				flex: 1;
				margin: var(--fl1-spacing-xs);
				padding: var(--fl1-spacing-sm);
				display: flex;
				flex-direction: column;
				position: relative;
				align-items: center;
				gap: var(--fl1-spacing-xs);
				border-radius: var(--fl1-radius-lg);
				background: #fff;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				flex: 1;
			}

			@include breakpoint(papabear) {
				width: math.percentage(math.div(1, 3));
			}

			@include breakpoint(mamabear) {
				width: math.percentage(math.div(1, 2));
			}

			@include breakpoint(teenbear) {
				width: 100%;
			}

			a {
				display: flex;
				justify-content: center;
				border-radius: var(--fl1-radius-md);
				overflow: hidden;

				img { 
					width: auto;
				}

				i{color: var(--fl1-primary); font-size: 24px;} 
			}

			h5 {
				padding: 8px 0 0;
				margin-bottom: 0;
				font-size: var(--fl1-font-md);
				color: var(--fl1-primary);
				font-weight: 600;
				text-align: center;
				span {
					font-weight: 600;
					font-size: var(--fl1-font-xxs);
					color: var(--fl1-text-light);
					display: block;
					margin-top: 5px;
				}
			}

			img {
				width: 100%;
			}

			&:hover .team__overlay {
				opacity: 0.9;
				transition: opacity 0.5s ease;
			}
		}
	}
}
